<body data-spy="scroll" data-target=".navbar-collapse">


  <!-- Preloader -->

  <div id="loading">
      <div id="loading-center">
          <div id="loading-center-absolute">
              <div class="object"></div>
              <div class="object"></div>
              <div class="object"></div>
              <div class="object"></div>
              <div class="object"></div>
              <div class="object"></div>
              <div class="object"></div>
              <div class="object"></div>
              <div class="object"></div>
              <div class="object"></div>
          </div>
      </div>
  </div>

  <!--End off Preloader -->


  <div class="culmn">
      <!--Home page style-->


      <nav class="navbar navbar-default navbar-fixed white no-background bootsnav text-uppercase">

          <div class="container">    
              
              <!-- Start Header Navigation -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                      <i class="fa fa-bars"></i>
                  </button>
              </div>
              <!-- End Header Navigation -->

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="navbar-menu">
                  <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                      <li><a href="index.html">home</a></li> 
        <li><a (click)="getStarted()" style="cursor: pointer;">redesign</a></li> 							                   
                      <li><a (click)="getMixMatch()" style="cursor: pointer;">mix and match</a></li> 
                      <!-- <li><a style="cursor: pointer;" data-toggle="modal" data-target="#registerModal">Register</a></li> -->
                      <li><a style="cursor: pointer;" (click)="open(content)">Register</a></li> 
                      <li><a (click)="contactSection()" style="cursor: pointer;">contact us</a></li>  
                      <li><img src="assets/images/profile.JPG" style="margin-top:17px;cursor:pointer" title="Signed in as BWR Clothing"></li>                         
                  </ul>
              </div><!-- /.navbar-collapse -->
              <!-- Modal -->
              <ng-template #content let-modal>
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Register</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <p style="color:red;font-weight: bold;" *ngIf="typeOfUser=='individual'"> By registering, you permit local refurbishment stores to contact you for any cloth donation drives, purchase of old clothes etc.</p>
                    <div class="row" style="margin-top:0px;">
                        <div class="col-sm-12">
                            <div class="form-group"> 
                                <input type="radio" name="typeOfUser" value="individual" [(ngModel)]="typeOfUser"> <strong>Individual User</strong> &nbsp;&nbsp;
                                <input type="radio" name="typeOfUser" value="refurbishmentstore" [(ngModel)]="typeOfUser"> <strong>Refurbishment Store</strong>    
                            </div>
                          </div>
                        <div *ngIf="typeOfUser=='individual'">   
                            <div class="col-sm-12">
                            <div class="form-group"> 
                                <label>First Name:</label>
                                <br/>
                                <input id="firstName" name="firstName" type="text">
                            </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group"> 
                                    <label>Last Name:</label>
                                    <br/>
                                    <input id="lastName" name="lastName" type="text">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group"> 
                                    <label>Email:</label>
                                    <br/>
                                    <input id="email" name="email" type="text">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group"> 
                                    <label>Phone Number:</label>
                                    <br/>
                                    <input id="phone" name="phone" type="text">
                                </div>
                            </div>
                        </div>
                        <div *ngIf="typeOfUser=='refurbishmentstore'">   
                            <div class="col-sm-12">
                            <div class="form-group"> 
                                <label>Name of Store:</label>
                                <br/>
                                <input id="firstName" name="firstName" type="text">
                            </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group"> 
                                    <label>Address:</label>
                                    <br/>
                                    <textarea id="lastName" name="lastName"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group"> 
                                    <label>Email:</label>
                                    <br/>
                                    <input id="email" name="email" type="text">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group"> 
                                    <label>Phone Number:</label>
                                    <br/>
                                    <input id="phone" name="phone" type="text">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group"> 
                                    <label>GST Number:</label>
                                    <br/>
                                    <input id="phone" name="phone" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Register</button>
                </div>
              </ng-template>
              
              <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Register</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <p style="color:red;font-weight: bold;"> By registering, you permit local refurbishment stores to contact you for any cloth donation drives, purchase of old clothes etc.</p>
                        <div class="row" style="margin-top:0px;">
                            <div class="col-sm-12">
                              <div class="form-group"> 
                                  <label>First Name:</label>
                                  <br/>
                                  <input id="firstName" name="firstName" type="text">
                              </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group"> 
                                    <label>Last Name:</label>
                                    <br/>
                                    <input id="lastName" name="lastName" type="text">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group"> 
                                    <label>Email:</label>
                                    <br/>
                                    <input id="email" name="email" type="text">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group"> 
                                    <label>Phone Number:</label>
                                    <br/>
                                    <input id="phone" name="phone" type="text">
                                </div>
                            </div>
                        </div>    
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Register</button>
                    </div>
                </div>
                </div>
            </div>
          </div>  


      </nav>


      <!--Home Sections-->

      <carousel [cellsToShow]=1 [autoplay]=true [height]=500 [loop]=true [autoplayInterval]=1000>
        <div class="carousel-cell">
            <img src="assets/images/carousel/car1.JPG">
        </div>
        <div class="carousel-cell">
            <img src="assets/images/carousel/car6.jpg">
        </div>
        <div class="carousel-cell">
            <img src="assets/images/carousel/car2.JPG">
        </div>
        <div class="carousel-cell">
            <img src="assets/images/carousel/car3.JPG">
        </div>
        <div class="carousel-cell">
            <img src="assets/images/carousel/car4.JPG">
        </div>
        <div class="carousel-cell">
            <img src="assets/images/carousel/car5.JPG">
        </div>
      </carousel>

      <!-- <section id="hello" class="home bg-mega">
          <div class="overlay"></div>
          <div class="container">
              <div class="row">
                  <div class="main_home text-center">
                      <div class="home_text">
                          <h4 class="text-white text-uppercase">Re-Imagining your Wardrobe</h4>
                          <h1 class="text-white text-uppercase">good design is always in season</h1>

                          <div class="separator"></div>

                          <h5 class=" text-uppercase text-white"><em>You can have anything you want in life if you dress for it. </em></h5>
                      </div>
                  </div>
              </div>
          </div>
      </section>  -->


      <!--About Sections-->
      <section id="feature" class="feature p-top-100">
          <div class="container">
              <div class="row">
                  <div class="main_feature">

                      <div class="col-md-6 m-top-120">
                          <!-- Head Title -->
                          <div class="head_title">
                              <h2>Say no to fast fashion</h2>
                              <label><em>With our app you can redesign or mix-match your existing wardrobe</em></label>
                              <div class="separator_left"></div>
                          </div><!-- End off Head Title -->

                          <div class="feature_content wow fadeIn m-top-40">
                              <p>Wear new style everyday with same wardrobe.</p>

                              <p>Just click below to get started</p>

                              <div class="feature_btns m-top-30">
                                  <a class="btn btn-default text-uppercase" (click)="getStarted()">Get Started <i class="fa fa-long-arrow-right"></i></a>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="feature_photo wow fadeIn sm-m-top-40">
                              <div class="photo_border"></div>
                              <div class="feature_img">
                                  <img src="assets/images/styling.jpg" alt="" />
                              </div>
                          </div>
                      </div>
                  </div>
              </div><!--End off row-->
          </div><!--End off container -->
          <br />
          <br />
          <br />
          <br />
          <hr />

          <!-- Redesign section -->

          <section id="contact" class="contact fix bg-grey" style="margin-top:-40px">
            <br/>
            <br/>
            <br/>
            <br/>
            <div class="container">
                <div class="head_title">
                    <h2>Redesign Here</h2>
                </div>
                <div class="row" *ngIf="!userSelected">
                    <div style="padding-top:30px;">  
                        <div class="col-md-12 sm-m-top-30">
                            <form class="" action="subcribe.php">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <button class="btn btn-default" (click)="confirmUser('individual')">I am an individual user <i class="fa fa-long-arrow-right"></i></button> &nbsp;&nbsp;&nbsp;&nbsp;
                                            <button class="btn btn-default" id="refurButton" (click)="confirmUser('refurbishment')">I am from a refurbishment store <i class="fa fa-long-arrow-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>                
                <div class="row" *ngIf="userSelected">
                    <div style="padding-top:30px;">  
                        <div class="col-md-6 sm-m-top-30">
                            <form class="" action="subcribe.php">
                                <div class="row">
                                  <div class="col-sm-12" *ngIf="((userType=='individual') || (userType=='refurbishment' && storeValidated))">
                                    <div class="form-group"> 
                                        <label>Upload image of the cloth you wish to redesign</label>
                                        <input id="file" name="file" type="file" [(ngModel)]="file" (change)="fileSelected($event)">
                                    </div>
                                  </div>

                                  <br/>
                                  <br/>
                                  <br/>
                                  <label *ngIf="showRedesignProgress" style="margin-left:15px"> Detecting Attributes ... </label>
                                  <progress *ngIf="showRedesignProgress" style="height:40px;width:80%"></progress>
                                  <div *ngIf="showRedesignAttribute" id="attrDetected">
                                        <label style="margin-left:15px;margin-top:30px;"> Attributes Detected: </label>

                                        <div class="col-sm-12" style="margin-top:20px;">
                                            <div class="form-group attrRedesign"> 
                                                <label style="color:black">Color: Blue</label>&nbsp;&nbsp;&nbsp;&nbsp;<br/>
                                            </div>
                                        </div>

                                        <br/>
                                        <br/>
                                        <br/>

                                            <div class="col-sm-12" id="secAttr">
                                                <div class="form-group attrRedesign"> 
                                                    <label style="color:black">Style: Denim</label>
                                                </div>
                                            </div>
        
                                            <div class="col-sm-12">
                                                <div class="form-group attrRedesign">
                                                    <label style="color:black">Category: Tshirt</label>
                                                </div>
                                            </div>

                                            <div class="col-sm-12">
                                                <div class="form-group attrRedesign">
                                                    <label style="color:black">Sleeve Length: Full</label>
                                                </div>
                                            </div>
        
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <button class="btn btn-default redesignButton" (click)="getAllStyles('redesign')">REDESIGN <i class="fa fa-long-arrow-right"></i></button>
                                                </div>
                                            </div>

                                    </div>
  
                                </div>
                                <div class="row" *ngIf="(userType=='refurbishment' && !storeValidated)" style="margin-top:-80px;">
                                    <div class="col-sm-12">
                                      <div class="form-group"> 
                                          <label>Name of your store</label>
                                          <br/>
                                          <input id="storeName" name="storeName" type="text" [(ngModel)]="storeName" class="inputStyle">
                                      </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group"> 
                                            <label>Address</label>
                                            <br/>
                                            <input id="storeAddress" name="storeAddress" type="text" [(ngModel)]="storeAddress" class="inputStyle">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group"> 
                                            <label>Phone Number</label>
                                            <br/>
                                            <input id="phone" name="phone" type="text" [(ngModel)]="phone" class="inputStyle">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group"> 
                                            <label>Email</label>
                                            <br/>
                                            <input id="email" name="email" type="text" [(ngModel)]="email" class="inputStyle">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group"> 
                                            <label>GST Number</label>
                                            <br/>
                                            <input id="gst" name="gst" type="text" [(ngModel)]="gst" class="inputStyle">
                                        </div>
                                    </div>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <div class="col-sm-12">
                                        <div class="form-group"> 
                                          <button class="btn btn-default" (click)="validateStore()"> Continue <i class="fa fa-long-arrow-right"></i></button>
                                        </div>
                                    </div>
                                </div>    
                                <br/>
                                <br/>
                                <br/>
                                <div class="row" *ngIf="userType == 'individual'">
                                    <div class="col-sm-12">
                                      <div class="form-group"> 
                                        <button id="refurButton2" class="btn btn-default">VISIT REFURBISHMENT STORES <i class="fa fa-long-arrow-right"></i></button>
                                      </div>
                                    </div>
                                </div> 
                                <div class="row" *ngIf="userType == 'refurbishment' && storeValidated">
                                    <div class="col-sm-12">
                                      <div class="form-group"> 
                                         <button class="btn btn-default" data-toggle="modal" data-target="#userModal"> NEED DONATED CLOTHES? CONTACT USERS! <i class="fa fa-long-arrow-right"></i></button> -->
                                      </div>
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Connect With Users</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                            <ul>
                                                <li> <input type="checkbox"> 1. Jitender Bhalla 
                                                     <address> Bikaner, India</address>
                                                </li>
                                                <li> <input type="checkbox"> 2. Tanya Gupta
                                                    <address> Bangalore, India</address>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Connect</button>
                                        </div>
                                    </div>
                                    </div>
                                </div> 
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Refurbishment Stores</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                            <p> <strong>Nearby Refurbishment Stores</strong> </p>
                                            <ul>
                                                <li> 1. Store ABC 
                                                     <address> MG Road, Bangalore</address>
                                                </li>
                                                <li> 2. Store XYZ 
                                                    <address> Commerical Street, Bangalore</address>
                                                </li>
                                            </ul>
                                            <p><strong> Nearby Tailors </strong></p>
                                            <ul>
                                                <li> 1. Tailor ABC
                                                     <address> MG Road, Bangalore</address>
                                                </li>
                                                <li> 2. Tailor XYZ 
                                                    <address> Commerical Street, Bangalore</address>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>   
                            </form>
                        </div>
  
                        <div class="col-md-6" *ngIf="fileChosen" style="text-align: right;">
                            <div class="contact_img">
                                <img src={{sourceImage}} alt="Chosen Image" />
                            </div>
                        </div>
  
  
                    </div>
                </div><!--End off row -->
            </div><!--End off container -->
        </section>

        <!-- Mix Match Section -->

        <section id="contact" class="contact fix">
          <br/>
          <br/>
          <br/>
          <br/>
          <div class="container">
              <div class="head_title">
                  <h2>Mix & Match Here</h2>
              </div>
              <div class="row" *ngIf="!mixUserSelected">
                <div style="padding-top:30px;">  
                    <div class="col-md-12 sm-m-top-30">
                        <form class="" action="subcribe.php">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <button class="btn btn-default" (click)="confirmUser('mixIndividual')">I am an individual user <i class="fa fa-long-arrow-right"></i></button> &nbsp;&nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-default" id="refurButton" (click)="confirmUser('mixRefurbishment')">I am from a refurbishment store <i class="fa fa-long-arrow-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
              </div>
              <div class="row" *ngIf="mixUserSelected">
                  <div style="padding-top:30px;">  
                      <div class="col-md-6 sm-m-top-30">
                          <form class="" action="subcribe.php">
                              <div class="row">
                                <div class="col-sm-12" *ngIf="((userType=='mixIndividual') || (userType=='mixRefurbishment' && mixStoreValidated))">
                                  <div class="form-group"> 
                                      <label>Upload images of the items you wish to mix and match </label>
                                      <input id="files" name="files" type="file" multiple="multiple" [(ngModel)]="files" (change)="filesSelected($event)">
                                  </div>
                                </div>

                                <br/>
                                <br/>
                                <br/>

                                <label style="margin-left:15px;margin-top:30px;font-weight: bold;" *ngIf="showMixMatchProgress"> Detecting Attributes ... </label>
                                <progress *ngIf="showMixMatchProgress" style="height:40px;width:80%"></progress>
                                <div *ngIf="showMixMatchAttribute">
                                    <label style="margin-left:15px;margin-top:30px;font-weight: bold;"> Attributes Detected: </label>

                                       <table style="border: 1px solid #ccc;border-collapse:collapse;margin-bottom:15px;margin-left:15px">
                                           <tr style="border: 1px solid #ccc;">
                                               <th style="padding:15px;border: 1px solid #ccc;color:tomato">Cloth#</th>
                                               <th style="padding:15px;border: 1px solid #ccc;color:tomato">Color</th>
                                               <th style="padding:15px;border: 1px solid #ccc;color:tomato">Style</th>
                                               <th style="padding:15px;border: 1px solid #ccc;color:tomato">Category</th>
                                           </tr>
                                           <tr style="border: 1px solid #ccc;">
                                                <td style="padding:15px;border: 1px solid #ccc;" class="attrRedesign"> <label style="font-weight: bold;color: black"> 1. </label></td>
                                                <td style="padding:15px;border: 1px solid #ccc;" class="attrRedesign"> <label style="font-weight: bold;color: black">Blue</label></td>
                                                <td style="padding:15px;border: 1px solid #ccc;" class="attrRedesign"> <label style="font-weight: bold;color: black">Western</label></td>
                                                <td style="padding:15px;border: 1px solid #ccc;" class="attrRedesign"> <label style="font-weight: bold;color: black">Top</label></td>
                                           </tr>
                                           <tr style="border: 1px solid #ccc;">
                                                <td style="padding:15px;border: 1px solid #ccc;" class="attrRedesign"> <label style="font-weight: bold;color: black"> 2. </label></td>
                                                <td style="padding:15px;border: 1px solid #ccc;" class="attrRedesign"> <label style="font-weight: bold;color: black">Silver</label></td>
                                                <td style="padding:15px;border: 1px solid #ccc;" class="attrRedesign"> <label style="font-weight: bold;color: black">Western</label></td>
                                                <td style="padding:15px;border: 1px solid #ccc;" class="attrRedesign"> <label style="font-weight: bold;color: black">Sequenced Wedges</label></td>
                                           </tr>
                                       </table>
                                        
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <button class="btn btn-default" (click)="getAllStyles('mismatch')">MIX & MATCH <i class="fa fa-long-arrow-right"></i></button>
                                            </div>
                                        </div>
    
                                        <br/>
                                        <br/>
                                        <br/>

                                  </div>

                                  <div class="row" *ngIf="((userType=='mixRefurbishment') && (!mixStoreValidated))" style="margin-top:-80px;">
                                    <div class="col-sm-12">
                                      <div class="form-group"> 
                                          <label>Name of your store</label>
                                          <br/>
                                          <input id="storeName" name="storeName" type="text" [(ngModel)]="storeName" class="inputStyle">
                                      </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group"> 
                                            <label>Address</label>
                                            <br/>
                                            <input id="storeAddress" name="storeAddress" type="text" [(ngModel)]="storeAddress" class="inputStyle">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group"> 
                                            <label>Phone Number</label>
                                            <br/>
                                            <input id="phone" name="phone" type="text" [(ngModel)]="phone" class="inputStyle">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group"> 
                                            <label>Email</label>
                                            <br/>
                                            <input id="email" name="email" type="text" [(ngModel)]="email" class="inputStyle">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group"> 
                                            <label>GST Number</label>
                                            <br/>
                                            <input id="gst" name="gst" type="text" [(ngModel)]="gst" class="inputStyle">
                                        </div>
                                    </div>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <div class="col-sm-12">
                                        <div class="form-group"> 
                                          <button class="btn btn-default" (click)="mixValidateStore()"> Continue <i class="fa fa-long-arrow-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="userType == 'mixRefurbishment' && mixStoreValidated">
                                    <div class="col-sm-12">
                                      <div class="form-group"> 
                                        <button class="btn btn-default" data-toggle="modal" data-target="#mixUserModal"> NEED DONATED CLOTHES? CONTACT USERS! <i class="fa fa-long-arrow-right"></i></button>
                                      </div>
                                    </div>
                                </div>
                              </div>
                              <!-- Modal -->
                              <div class="modal fade" id="mixUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Connect With Users</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        <ul>
                                            <li> <input type="checkbox"> 1. Jitender Bhalla 
                                                 <address> Bikaner, India</address>
                                            </li>
                                            <li> <input type="checkbox"> 2. Tanya Gupta
                                                <address> Bangalore, India</address>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Connect</button>
                                    </div>
                                </div>
                                </div>
                            </div>

                          </form>
                      </div>

                      <div class="col-md-6" *ngIf="filesChosen" style="text-align: right;">
                          <div class="contact_img" style="display: inline-block;">
                              <img src={{sourceImage1}} alt="Chosen Image" style="width:45%"/>
                              <img src={{sourceImage2}} alt="Chosen Image" style="width:45%" />
                          </div>
                      </div>


                  </div>
              </div><!--End off row -->
          </div><!--End off container -->
      </section>
    </section> <!--End off About section -->

    <br/>
    <br/>
    <br/>
    <hr/>

    
      <!--Gallery Section-->
      <a name="gallerySec" id="gallerySec"></a>
      <section id="gallery" class="gallery margin-top-120 bg-grey" style="overflow:visible;margin-top:-40px">
          <!-- Gallery container-->
          <div class="container">
              <div class="row">
                  <div class="main-gallery roomy-80" style="height:750px" id="galleryPadding">
                      <div class="col-md-12">
                          <div class="head_title text-left sm-text-center wow fadeInDown">
                              <h2>Get Trendy!</h2>
                              <label><em>Some of the latest and trendy styles are here. Click on them to virtually try it on!</em></label>
                              <div class="separator_left"></div>
                          </div>
                      </div>

                      <progress *ngIf="showProgress" style="height:40px;width:80%"></progress>

                      <div style="clear: both;"></div>

                      <div class="grid text-center">
                          <h2 class="head_title" style="margin-top:200px;" *ngIf="!stylesAvailable"> No styles to display at the moment ...</h2>
                          <div *ngIf="showRedesignVirtualProgress">
                            <h3> Image Uploaded, Preparing Virtual Model ....</h3>
                            <progress style="height:40px;width:80%"></progress>
                         </div>
                         <div class="grid-item" (click)="openRefurbishmentModal(refurcontent)" style="display: inline-block;height:240px" *ngIf="showModelledImage"> <img alt="" src='assets/images/like.png' style="height:75px;width:75px;display: inline-block;"></div>
                         <div class="grid-item transition metal ium" style="display: inline-block;" *ngIf="showModelledImage">
                            <img alt="" src='assets/images/blue_shirt_model.jpg' style="height:400px;width:300px;display: inline-block;margin-left:50px;margin-right:50px" *ngIf="redesign && redesignIndex==0">
                            <img alt="" src='assets/images/tanya1.png' style="height:400px;width:300px;display: inline-block;margin-left:50px;margin-right:50px" *ngIf="mixmatch && mixMatchIndex==0">
                            <img alt="" src='assets/images/tanya2.png' style="height:400px;width:300px;display: inline-block;margin-left:50px;margin-right:50px" *ngIf="mixmatch && mixMatchIndex==1">
                            <div class="grid_hover_area text-center">
                            </div>
                            </div><!-- End off grid item -->
                        <!-- <div class="col-sm-12" *ngIf="showModelledImage">
                            <div class="form-group"> 
                              <button class="btn btn-default" (click)="back()"> Back <i class="fa fa-long-arrow-left"></i></button>
                            </div>
                        </div> -->
                        <ng-template #refurcontent let-modal>
                            <div class="modal-header">
                              <h4 class="modal-title" id="modal-basic-title">Refurbishment Stores</h4>
                              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                <p> <strong>Nearby Refurbishment Stores</strong> </p>
                                <ul>
                                    <li> <input type="radio">1. Store ABC 
                                         <address> MG Road, Bangalore</address>
                                    </li>
                                    <li> <input type="radio"> 2. Store XYZ 
                                        <address> Commerical Street, Bangalore</address>
                                    </li>
                                </ul>
                                <p><strong> Nearby Tailors </strong></p>
                                <ul>
                                    <li> <input type="radio"> 1. Tailor ABC
                                         <address> MG Road, Bangalore</address>
                                    </li>
                                    <li> <input type="radio"> 2. Tailor XYZ 
                                        <address> Commerical Street, Bangalore</address>
                                    </li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-outline-dark" (click)="connectWithStore(storecontent)">Confirm Your Order With This Store</button>
                            </div>
                          </ng-template>
                          <ng-template #storecontent let-modal>
                            <div class="modal-header">
                              <h4 class="modal-title" id="modal-basic-title">Confirm</h4>
                              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                <h4> <strong>Store ABC - Bangalore </strong></h4>
                                <p> <strong>Selected Design Code:</strong> RD1 </p>
                                <p> <strong>Estimated Cost:</strong> Rs.300 - Rs.500 </p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-outline-dark" (click)="confirmedStore()">Confirm</button>
                            </div>
                          </ng-template>
                        <div class="grid-item" (click)="back()" style="display: inline-block;height:240px" *ngIf="showModelledImage"><img alt="" src='assets/images/dislike.png' style="height:75px;width:75px;display: inline-block"></div>   
                        <div *ngIf="redesign && !showModelledImage">
                          <div class="grid-item transition metal ium" *ngFor="let image of images; let i=index" style="display: inline-block;" (click)="redesignImageClicked(i)">
                              <img alt="" src={{image.img_name}} style="height:350px;width:250px">
                              <div class="grid_hover_area text-center">
                                  <div class="grid_hover_text m-top-110">
                                      <h4 class="text-white">Click to try it!</h4>
                                  </div>
                              </div><!-- End off grid Hover area -->
                              <div>
                                <p style="margin-bottom:0px; color:red"> <strong> Actual Cost (Est.) - {{image.actualCost}} </strong></p>
                                <p style="color:green"> <strong> Refurbished Cost (Est.) - {{image.refurbishedCost}} </strong></p>
                              </div>
                          </div><!-- End off grid item -->
                        </div>
                        <div *ngIf="mixmatch && !showModelledImage">
                            <div class="grid-item transition metal ium" *ngFor="let image of images; let i=index" style="display: inline-block;" (click)="mixMatchImageClicked(i)">
                                <img alt="" src={{image.img_name}} id="mixmatchOptions" style="height:350px;width:250px">
                                <div class="grid_hover_area text-center">
                                    <div class="grid_hover_text m-top-110">
                                        <h4 class="text-white">Click to try it!</h4>
                                    </div>
                                </div><!-- End off grid Hover area -->
                                <div>
                                    <p style="margin-bottom:0px;color:red"> <strong>Actual Cost (Est.) - Rs.1500 - Rs.2500 </strong></p>
                                    <p style="color:green"> <strong>Refurbished Cost (Est.) - Rs.300 - Rs.600 </strong></p>
                                </div>
                            </div><!-- End off grid item -->
                          </div>
                        <div *ngIf="showRedesignModel && !showModelledImage">
                              <span> <strong>Upload your full length picture:</strong> </span> &nbsp;&nbsp;&nbsp;
                              <span> <input type="file" autofocus style="display:inline-block;margin-bottom:15px" (change)="redesignModelUploaded($event)"> </span>
                        </div>
                        <div *ngIf="showMixMatchModel && !showModelledImage && mixMatchIndex==0">
                            <span> <strong>Upload your full length picture:</strong> </span> &nbsp;&nbsp;&nbsp;
                            <span> <input type="file" autofocus style="display:inline-block;margin-bottom:15px" (change)="mixMatchModelUploaded($event)"> </span>
                        </div>
                          <div>
                            <button id="refurButton2" class="btn btn-default" (click)="back()" *ngIf="showModelledImage"> Back <i class="fa fa-long-arrow-left"></i></button>  &nbsp; 
                            <button id="refurButton3" class="btn btn-default" *ngIf="showModelledImage" (click)="getRefurbishmentStores()" data-toggle="modal" data-target="#exampleModal">VISIT OUR REFURBISHMENT STORES & TAILORS <i class="fa fa-long-arrow-right"></i></button>
                          </div>
                          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Refurbishment Stores</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <p><strong> Nearby Refurbishment Stores </strong></p>
                                    <ul>
                                        <li> 1. Store ABC 
                                             <address> MG Road, Bangalore</address>
                                        </li>
                                        <li> 2. Store XYZ 
                                            <address> Commerical Street, Bangalore</address>
                                        </li>
                                    </ul>
                                    <p><strong> Nearby Tailors </strong></p>
                                    <ul>
                                        <li> 1. Tailor ABC
                                             <address> MG Road, Bangalore</address>
                                        </li>
                                        <li> 2. Tailor XYZ 
                                            <address> Commerical Street, Bangalore</address>
                                        </li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                            </div>
                        </div> 
                      </div>

                      <div class="modal fade" id="redesignModelModal" tabindex="-1" role="dialog" aria-labelledby="redesignModelModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Virtually Try Out The Outfit!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body" style="text-align: center;">
                                <img src="assets/images/blue_shirt_model.jpg" height="380" width="300">
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>

                      <div style="clear: both;"></div>                      
                 </div>
              </div>
              <!-- <div class="col-sm-12" *ngIf="stylesAvailable">
                <div class="form-group">
                    <button class="btn btn-default">Get Nearby Boutiques <i class="fa fa-long-arrow-right"></i></button>
                </div>
            </div> -->
          </div><!-- Portfolio container end -->
      </section><!-- End off portfolio section -->

      <div class="container" style="margin-top:70px" id="successSection">
        <div class="row">
            <div class="main_counter text-center">
                <div class="col-md-4">
                    <div class="counter_item">
                        <h2 class="statistic-counter"><em> 29 </em></h2>
                        <div class="separator_small"></div>
                        <h5>Projects Finished</h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="counter_item sm-m-top-40">
                        <h2 class="statistic-counter"><em>124</em></h2>
                        <div class="separator_small"></div>
                        <h5>Happy Clients</h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="counter_item sm-m-top-40">
                        <h2 class="statistic-counter"><em>76</em></h2>
                        <div class="separator_small"></div>
                        <h5>Hours of work</h5>
                    </div>
                </div>
            </div>
        </div><!--End off row-->
    </div><!--End off container -->
 
    <br/>
    <br/>
    <hr/>
    <br/>

      <!--Contact Us Section-->
      <section id="contact" class="contact fix">
          <div class="container">
              <div class="row">
                  <div class="main_contact p-top-100">
                    <div class="head_title text-left sm-text-center wow fadeInDown">
                        <h2>The Team!</h2>
                        <h5><em>Meet the doers and builders ...</em></h5>
                        <div class="separator_left"></div>
                    </div>
                  </div>
                  <div class="teamMember">
                      <img src="assets/images/team/abhinav_pic.jfif" height="120" width="120"><br/>
                      <div class="head_title text-left sm-text-center wow fadeInDown">
                        <h5><strong>Abhinav Mehta</strong></h5>
                        <h6 style="margin-top:-15px;"><em>Senior Manager</em></h6>
                    </div>
                  </div>
                  <div class="teamMember">
                    <img src="assets/images/team/jitender_pic.png" height="120" width="120"><br/>
                    <div class="head_title text-left sm-text-center wow fadeInDown">
                      <h5><strong>Jitender Bhalla</strong></h5>
                      <h6 style="margin-top:-15px;"><em>Associate Manager</em></h6>
                  </div>
                </div>
                <div class="teamMember">
                    <img src="assets/images/team/tanya_pic.jpg" height="120" width="120"><br/>
                    <div class="head_title text-left sm-text-center wow fadeInDown">
                      <h5><strong>Tanya Gupta</strong></h5>
                      <h6 style="margin-top:-15px;"><em>Senior Analyst</em></h6>
                  </div>
                </div>
                  <div class="teamMember">
                    <img src="assets/images/team/shikha_pic.jfif" height="120" width="120"><br/>
                    <div class="head_title text-left sm-text-center wow fadeInDown">
                      <h5><strong>Shikha Mehta</strong></h5>
                      <h6 style="margin-top:-15px;"><em>Manager</em></h6>
                  </div>
                </div>
                <div class="teamMember">
                    <img src="assets/images/team/sonali_pic.jpg" height="120" width="120" style="margin:auto"><br/>
                    <div class="head_title text-left sm-text-center wow fadeInDown">
                      <h5><strong>Sonali Bansal</strong></h5>
                      <h6 style="margin-top:-15px;"><em>Associate</em></h6>
                  </div>
                </div>
              </div><!--End off row -->
          </div><!--End off container -->
      </section><!--End off Contact Section-->


      <!--Company section-->

      <section id="company" style="margin-top:150px" class="company bg-light">
          <div class="container">
              <div class="row">
                  <div class="main_company roomy-100 text-center">
                      <h3 class="text-uppercase">Intelligent Clothing Palette</h3>
                      <p>Accenture, Gurgaon, India</p>
                  </div>
              </div>
          </div>
      </section>


      <!-- scroll up-->
      <div class="scrollup">
          <a href="#"><i class="fa fa-chevron-up"></i></a>
      </div><!-- End off scroll up -->


      <footer id="footer" class="footer bg-mega">
          <div class="container">
              <div class="row">
                  <div class="main_footer p-top-40 p-bottom-30">
                      <div class="col-md-6 text-left sm-text-center">
                          <p class="wow fadeInRight" data-wow-duration="1s">
                              Made with 
                              <i class="fa fa-heart"></i>
                              by 
                              <a target="_blank" href="http://bootstrapthemes.co">Bootstrap Themes</a> 
                              2016. All Rights Reserved
                          </p>
                      </div>
                      <div class="col-md-6 text-right sm-text-center sm-m-top-20">
                          <ul class="list-inline">
                              <li><a href="">Facebook</a></li>
                              <li><a href="">Twitter</a></li>
                              <li><a href="">Instagram</a></li>
                              <li><a href="">Pinterest</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </footer>




  </div>